[program:django]

command={{ django__virtualenv_bin_dir }}uwsgi --ini {{ django__uwsgi_filename }}

environment=
    PATH="$PATH:/usr/bin/:{{ django__virtualenv_bin_dir }}",
    PYTHONPATH="$PYTHONPATH:{{ django__proj_dir }}{{ django__site_name }}/",

autostart=true
autorestart=unexpected
user={{ django__site_user }}
