[program:django]

command={{ django_virtualenv_bin_dir }}uwsgi --ini {{ django_proj_dir }}{{ django_site_name }}/uwsgi.ini

environment=
    PATH="$PATH:/usr/bin/:{{ django_virtualenv_bin_dir }}",
    PYTHONPATH="$PYTHONPATH:{{ django_proj_dir }}{{ django_site_name }}/",

autostart=true
autorestart=unexpected
user={{ django_site_user }}
