[uwsgi]
project = aradar
base_dir = /www/%(project)

socket = %(base_dir)/var/run/django.socket
chdir = %(base_dir)/proj/%(project)
;http-socket = localhost:9000
processes = 3
pidfile = %(base_dir)/var/run/django.pid
env = DJANGO_SETTINGS_MODULE={{ django_site_name }}.settings
master = true
harakiri = 30
vacuum = true
max-requests = 5000
chmod-socket = 666
module= {{ django_site_name }}.wsgi:application
home = %(base_dir)/envs/aradar
uid = {{ django_site_user }}
logto = %(base_dir)/var/log/django-uwsgi.log
logdate
