[uwsgi]
project = {{django__uwsgi_site_name}}
base_dir = {{ django__site_dir }}

socket = %(base_dir)/run/django.socket
chdir = {{django__proj_dir}}/{{django__site_name}}
;http-socket = localhost:9000
processes = {{django__uwsgi_processes}}
pidfile = %(base_dir)/run/django.pid
env = DJANGO_SETTINGS_MODULE={{django__site_name}}.settings
master = true
harakiri = {{django__uwsgi_harakiri}}
vacuum = true
max-requests = {{django__uwsgi_max_requests}}
chmod-socket = 666
module = {{django__site_name}}.wsgi:application
home = {{django__virtualenv_dir}}
uid = {{django__site_user}}
logto = %(base_dir)/log/django-uwsgi.log
logdate
