location /static/ {
    alias {{ htdocs_dir }}static/;
    access_log off;
    expires       3d;
    add_header Cache-Control public; 
}

location /media/ {
    alias {{ htdocs_dir }}media/;
    access_log off;
    expires       3d;
    add_header Cache-Control public; 
}