ssl_dhparam {{ nginx__ssl_dir }}dhparam.pem;
ssl_session_timeout 5m;
ssl_protocols {{ nginx__ssl_protocols }};
ssl_ciphers '{{ nginx__ssl_ciphers }}';
ssl_prefer_server_ciphers on;
ssl_session_cache shared:SSL:50m;
ssl_session_tickets off;


upstream app_server {
    server unix:{{ site_dir }}run/django.socket;
}

server {
    listen   {{ nginx__http_port }};

    # Turn on directory listing for static files
    #autoindex on;

    include {{ site_nginx_dir }}locations.conf;
    rewrite  ^ https://$host$request_uri? permanent;
}

server {
    listen {{ nginx__https_port }} ssl http2;

    ssl_certificate {{ nginx__ssl_dir }}server.crt;
    ssl_certificate_key {{ nginx__ssl_dir }}server.key;

    # Turn on directory listing for static files
    #autoindex on;

    # Turn on Strcit Transport Security
    #add_header Strict-Transport-Security max-age=604800;

    client_body_in_file_only clean;
    client_body_buffer_size {{ nginx__client_body_buffer_size }};

    client_max_body_size {{ nginx__client_max_body_size }};

    sendfile on;
    send_timeout {{ nginx__send_timeout }};

    include {{ site_nginx_dir }}locations.conf;

    error_page 502 @502;
    location @502 {
      root   {{ htdocs_dir }};
      try_files /50x.html =502;
    }

    location / {
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {

      {% if nginx__application_runner == "uwsgi" %}
        uwsgi_param Host $http_host;
        uwsgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param X-Scheme $scheme;

        include uwsgi_params;
        uwsgi_pass app_server;
      {% else %}
        proxy_redirect off;
        proxy_pass_header Server;

        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;

        proxy_connect_timeout 10;
        proxy_read_timeout 10;
        proxy_pass http://app_server;
      {% endif %}

    }

}
